<html>
    <head>
        <title>OnlChess | Home</title>

        <link rel="stylesheet" href="../css/main.css">
        <link rel="stylesheet" href="../css/ui.css">
        <link rel="stylesheet" href="../css/tab.css">
        <link rel="stylesheet" href="../css/sweetalert2.css">
    </head>
    <body >
        <% include menu.html %>
        <div class="body">
            <div class="card">
                <button class="btn" id="start-new" value="Start" onclick='$.redirect("/req-new")'> Start New Game</button>
                <button class="btn" id="how-to-start" value="tips" onclick='showTips()'> See how to start new Game </button>
            </div>
            <div class="tabs">
                <div class="tabs-headers"> 
                    <div class="tab-header active" header="1">
                        Recieved Invitations
                    </div>
                    <div class="tab-header" header="2">
                        Sent Invitations
                    </div>
                </div>
                <div class="tabs-bodies">
                    <div class="tab-body active" body="1">  
                        <div class="card-list invitation-list">
                        </div>
                    </div>
                    <div class="tab-body" body="2">  
                            <div class="card-list sent-invitation-list">
                            </div>
                    </div>
                </div>
            </div>

        </div>
        <div id="tips"></div>
        <script type="text/javascript" src="../js/main.js"></script>
        <script type="text/javascript" src="../js/tab.js"></script>
        <script type="text/javascript" src="../js/sweetalert2.js"></script>

        <script>
            let show_tips = <%= tips %> ;
            if(show_tips)
                tips.show(1);
        </script>

    </body>
</html>