<html>
    <head>

            <link rel="stylesheet" href="../css/tab.css">
    </head>
    <body>
        <div class="tabs">
            <div class="tabs-headers"> 
                <div class="tab-header active" header="1">
                    Recieved Invitations
                </div>
                <div class="tab-header" header="2">
                    Sent Invitations
                </div>
            </div>
            <div class="tabs-bodies">
                <div class="tab-body active" body="1"> 
                    This is first tab.
                </div>
                <div class="tab-body" body="2"> 
                    This is second tab.
                </div>
            </div>
        </div>
        <script type="text/javascript" src="../js/tab.js"></script>
    </body>
</html>